.Person {
  width: 60%;
  margin: 16px auto;
  border: 2px solid rgba(58, 158, 252, 0.932);
  background-color: rgb(16, 175, 214);
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
