.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  color: white;
  font-size: 16px;
  padding: 6px;
  border-radius: 10px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  background-color: green;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 1px;
  border: 2px solid rgb(28, 110, 164);
  cursor: pointer;
  outline: none;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: salmon;
}
